body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
}

h1, h2, h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

button {
    color: rgb(22, 5, 5);
    border: solid 1px rgb(22, 8, 146);
    text-decoration:none;
    cursor:pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover {
    background: rgb(50, 51, 107);
    border: solid 1px #fff;
    color: #fff;
}
